@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* similar styles  */
* {
    margin: 0;
    padding: 0;
}

header,
main {
    font-family: "Mulish", sans-serif;
    width: 80%;
    margin: 0 auto !important;
}

.primary-color {
    color: #FF5400;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
}

/* nav styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem auto;
}

.nav-container .nav-head {
    display: flex;
    align-items: center;
}

.nav-head h2 {
    padding: 0 1.2rem;
    font-size: 2.2rem;
    font-weight: 800;
    color: #131318;
}


.nav-container .nav-text {
    display: flex;
    justify-content: space-evenly;
}

.nav-text li {
    list-style: none;
    padding: 0 1.2rem;
    color: #424247;
    font-size: 1.1rem;
}

/* header styles */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 1rem;
    background-position: center;
}

.header-container .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.header-container .header-text h3 {
    /* padding-bottom: 2.5rem; */
    margin-bottom: 2rem;
    font-size: 3.8rem;
    color: #FFF;
    font-weight: 800;
}

.header-container .header-text p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
}

form {
    display: flex;
    gap: 1.4rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 20px;
    border-radius: 8px;
}

form .form-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 0 20px;
    border-radius: 8px;
}

.form-inputs input,
form>input {
    border: none;

}

.form-inputs img {
    width: 20px;
    cursor: pointer;
}

/* Main styles */
/* popular tour section styles */
.popular-tour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.popular-tour-text {
    width: 100%;

}

.popular-tour-text h4 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131318;
}

.popular-tour-text p {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 0 0.5rem 1rem;
    color: rgba(19, 19, 24, 0.70);
    line-height: 2rem;
}

.popular-tour-text ul {
    padding-left: 3rem;
    color: rgba(19, 19, 24, 0.70);
    line-height: 2rem;
}

.popular-tour-img {
    width: 100%;
}

.popular-tour-container .popular-tour-img img {
    width: 100%;
}

/* choose your destination section styles */
.destination-container {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.destination-container h3 {
    font-size: 2.7rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 1rem;
}

.destination-container p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 1.5rem;
}

.destination-grid-img {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1.5rem;
}

.destination-grid-img img {
    width: 100%;
    height: 100%;
}

.destination-grid-img .destination-img-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.destination-grid-img .destination-img-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.destination-grid-img .destination-img-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

/* why choose us section styles */
.choose-container {
    margin-bottom: 4rem;
}

.choose-container h3 {
    text-align: center;
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 1.5rem;
}

.choose-container>p {
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.choose-container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.choose-container-cards img {
    width: 50px;
}

.card-one {
    width: 45%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 1rem;
}

.card-two {
    width: 45%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 1rem;
}

.card-three {
    width: 45%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 1rem;
    margin: 0 auto;
}

.choose-container .card-title {
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
}

.card-p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}


/* newsletter section styles */
.newsletter-container {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.newsletter-content {
    border: 1px solid #FF5400;
    border-radius: 1rem;
    padding: 2.8rem;
}

.newsletter-content h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

.newsletter-content hr {
    opacity: 2px;
    background: rgba(19, 19, 24, 0.10);
    margin: 2rem auto;
}

.newsletter-content form {
    display: flex;
    flex-direction: column;
}

.newsletter-content form input {
    padding: 1rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-img {
    width: 50%;
    position: relative;
}

.newsletter-img img {
    width: 100%;
    height: 100%;
}

.newsletter-img .img-over {
    position: absolute;
    bottom: 52px;
    right: 5px;
    transform: rotate(-26deg);
    padding: 1rem;
}

.newsletter-img p:first-child {
    font-size: 1rem;
    font-weight: 400;
    color: #FFF;
    text-align: center;
}

.newsletter-img p:last-child {
    font-size: 1.8rem;
    font-weight: 800;
    color: #FFF;
    text-align: center;
}

/* Bonus section styles */
.bonus-container {
    margin-bottom: 3rem;
}

.bonus-container>h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.bonus-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cards {
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 5px 5px 20px 0px #89898e80;
    padding: 2rem;
}

.cards p {
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
}

.clients {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.clients h3 {
    font-size: 1rem;
    font-weight: 700;
    color: #131318;
}

.clients img {
    width: 40px;
    height: 40px;
    border-radius: 60%;
    border: 3px solid rgba(32, 230, 32, 0.826);
}

/* footer styles */
footer {
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    padding: 5rem 0;
}

.footer-container .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-content h4 {
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
}

.footer-container>p {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
}


.footer-container p:last-child {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #5A5A5D;

}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 3rem auto;
}

.footer-icons img {
    width: 35px;
}

.footer-container hr {
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 3rem;
}

/* Responsive for mobile device */
@media screen and (max-width:600px) {
    main {
        width: 80%;
    }

    .img-over>p {
        font-size: 10px !important;
    }

    .popular-tour-text>h4 {
        font-size: 1.5rem;
    }

    .nav-container {
        flex-direction: column;
        gap: 1.4rem;
    }

    .nav-title {
        font-size: 25px !important;
    }

    .nav-text>li {
        font-size: 10px !important;
    }

    .header-container {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }

    .hero-title {
        font-size: 1.5rem !important;
        color: white !important;
        margin-top: 55px;
    }

    .header-text>p {
        font-size: 15px !important;
    }

    form {
        flex-direction: column;
    }

    .form-inputs {
        padding: 10px !important;
    }

    .popular-tour-container {
        flex-direction: column;
        gap: 2rem;
    }

    .destination-grid-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .destination-grid-img .destination-img-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .destination-grid-img .destination-img-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .destination-grid-img .destination-img-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .destination-container>h3 {
        font-size: 1.5rem;
    }

    .choose-container-cards {
        flex-direction: column;
        align-items: center;
    }

    .card-one,
    .card-two,
    .card-three {
        width: 90%;
    }

    .bonus-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .newsletter-container {
        flex-direction: column;
    }

    .newsletter-container .newsletter-img {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .footer-container>p {
        text-wrap: wrap;
        width: 100%;
    }

    .footer-content>h4 {
        font-size: 1.5rem;
    }
}